<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  тест </title>
</head>
<body>
  <table>
      <tr><th> Имя</th>
       <th>Фамилия  </th> &nbsp;
      <th>емаил   &nbsp; &nbsp;&nbsp;&nbsp; </th>
        <th> отзыв</th>
          </tr>
    {% for b in bbb %}
        <h1>
         <tr> <td>{{ b.first_name}} &nbsp;</td>
         <td>{{ b.last_name}}&nbsp;</td>
         <td>{{ b.number  }} &nbsp;</td>
         <td>{{b.email}} {{b.password}}           &nbsp;</td>
         <td>{{ b.user_id}} </td>
         <td>{{ b.feedback.text}} </td>
         </tr>
            </h1>
{% endfor  %}
 </table>



  <table>
      <tr><th> номер группы </th>
         <th>   начало старта  </th>

        <th> <h2> название курса   </h2>   </th>
          </tr>
    {% for b in ttt %}
        <h1>
         <tr> <td> номер группы {{ b.number}} &nbsp;</td>
         <td>{{ b.date_start }}&nbsp;</td>

         <td> аудитория  {{ b.audience.number }} </td>
         <td>{{ b.course.name }} </td>
         </tr>            </h1>

{% endfor  %}
 </table>










</body>
</html>